<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwh.demoapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acts.CustomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".acts.RegularActivity"
            android:exported="true" />
        <activity
            android:name=".acts.FloatActivity"
            android:exported="true" />
        <activity
            android:name=".acts.CustomCanvasViewActivity"
            android:exported="true" />
        <activity
            android:name=".acts.EchartActivity"
            android:exported="true" />
        <activity
            android:name=".acts.GetSensorDataActivity"
            android:exported="true" />
        <activity
            android:name=".acts.HWScanQrCodeActivity"
            android:exported="true" />
        <activity
            android:name=".acts.PictureGraffitiActivity"
            android:exported="true" />
        <activity
            android:name=".acts.ExcelFormActivity"
            android:exported="true" />
        <activity
            android:name=".acts.LazyPageActivity"
            android:exported="true" />
        <activity
            android:name=".acts.ZipActivity"
            android:exported="true" />
        <activity
            android:name=".acts.DecodeQrCodeActivity"
            android:exported="true" />
        <activity
            android:name=".acts.EncodeQrCodeActivity"
            android:exported="true" />
        <activity
            android:name=".acts.InstallApkActivity"
            android:exported="true" />
        <activity
            android:name=".acts.MainActivity"
            android:exported="true" />
        <activity
            android:name=".acts.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zwh.demoapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>