<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwh.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zwh.demoapp.acts.HWScanQrCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.PictureGraffitiActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.ExcelFormActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.video.VideoPlayActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.LazyPageActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.ZipActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.DecodeQrCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.EncodeQrCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.zwh.demoapp.acts.InstallApkActivity"
            android:exported="true" />
        <activity android:name="com.zwh.demoapp.acts.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zwh.demoapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>